{%extends 'layout.html.jinja'%}

{%block icon%}
    <mithril-icon
        src="{{url_for('/icon?color=var(--omniblack-branding-fg)')}}"
        class="site-logo"
    >
    </mithril-icon>
{%endblock%}

{%block head%}
<style>
    .site-logo {
        height: 5em;
        width: 5em;
    }
</style>

<script type='module'>
    const spin = document.getElementById('spin');
</script>
{%endblock%}

{%block title%}
    Library - Home
{%endblock%}

{%block body%}
    <mithril-spinner style='display: none;'>
    </mithril-spinner>
    <mithril-image >
    </mithril-image>
{%endblock%}
