<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="504px"
    height="504px"
    viewBox="0 0 504 504"
    enable-background="new 0 0 504 504"
    xml:space="preserve"
>
    <g>
        <path
            fill="{{color}}"
            stroke="{{color}}"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M218.379,190.15
            c0,0-73.162-5.98-73.017,60.847c0.138,63.003,0,157.333,0,157.333L292.5,408.5l13.5-18c0,0,41,5.5,35.5-39.5l53-68.5l-40.5-69
            l-16.5,22L316,216l-65.058,91.277L311,353l-92.5,0.25L218.379,190.15z"
        />
        <circle
            fill="{{color}}"
            cx="219"
            cy="137.975"
            r="45.555"
        />
    </g>
</svg>
