<template>

</template>

<script>
    export default {
        props: {
            id: {
                type: String,
                required: true,
            },
            type: {
                type: String,
                validator(value) {

        },
    };
</script>
