<script>
import { DateTime } from 'luxon';
import { computed, ref } from 'vue';
import { T } from '@omniblack/localization';
import { localize } from '@omniblack/localization/vue.js';
import SelectList from '#src/components/SelectList.vue';

const colors = {
    [true]: 'is-success',
    [false]: 'is-danger',
};

export default {
    components: {
        SelectList,
    },
    setup() {
        const id = ref();
        const name = ref('');
        const date = new Date();
        const typeSelection = ref('');
        const editableTypes = [
            {
                display: T`Events`,
                value: 'event',
            },
            {
                display: T`Tasks`,
                value: 'task',
            },
        ];

        const nameValid = computed(() => Boolean(name.value));

        const nameColor = computed(() => colors[nameValid.value]);

        const nameMsg = computed(() => {
            if (!nameValid.value) {
                return T`Name is required`;
            } else {
                return '';
            }
        });


        // Make better validation when autocomplete has been re-written
        const typeValid = computed(() => true);

        const typeToEdit = computed(() => {
            const match = this.editableTypes.find(({ display }) => {
                return this.typeSelection === localize.value(display);
            });
            if (match) {
                return match.value;
            } else {
                return '';
            }
        });
    },
    computed: {
        typeColor() {
            return colors[this.typeValid];
        },
        typeMsg() {
            if (!this.typeValid) {
                return 'Please smelect something to edit';
            } else {
                return '';
            }
        },
        dateProp() {
            if (this.typeToEdit === 'task') {
                return 'due';
            } else {
                return 'date';
            }
        },
        dateLabel() {
            if (this.typeToEdit === 'task') {
                return 'Due Date';
            } else {
                return 'Date';
            }
        },
        dateEditLabel() {
            return `Select a ${this.dateLabel}`;
        },
        typeLabel() {
            if (this.typeToEdit === 'task') {
                return 'Task';
            } else {
                return 'Event';
            }
        },
        nameEditLabel() {
            return `Name of ${this.typeLabel}`;
        },

        saveText() {
            return `Save ${this.typeLabel}`;
        },

        deleteText() {
            return `Delete ${this.typeLabel}`;
        },

        editAction() {
            if (this.typeToEdit === 'task') {
                return 'editTask';
            } else {
                return 'editEvent';
            }
        },

        deleteAction() {
            if (this.typeToEdit === 'task') {
                return 'deleteTask';
            } else {
                return 'deleteEvent';
            }
        },

        dtDate: {
            get() {
                return DateTime.fromJSDate(this.date);
            },
            set(value) {
                this.date = value.toJSDate();
            },
        },
        minDate() {
            return this.now.toJSDate();
        },
    },
    methods: {
        async submit() {
            const result = await this.$store.dispatch(this.editAction, {
                id: this.id,
                [this.dateProp]: this.dtDate,
                name: this.name,
            });

            this.edit(result);
        },
        edit(event) {
            this.name = event.name;
            this.id = event.id;
            this.dtDate = event[this.dateProp];
        },
        async del() {
            await this.$store.dispatch(this.deleteAction, this.id);
            this.id = undefined;
            this.name = '';
            this.dtDate = DateTime.local();
        },
    },
};
</script>

<style scoped>
    .edit-container {
        padding: 2em;
        display: grid;
        grid-gap: 1em;
        place-items: center;
        grid-template-areas:
        ".    .  ."
        ".   type ."
        "rec edit ."
        "rec edit ."
        "rec edit .";
    }

    .card-footer {
        display: grid;
        align-items: space-between;
        padding: 2em;
        grid-auto-flow: column;
        gap: 1em;
    }

    .editor {
        grid-area: edit;
    }

    .type {
        grid-area: type;
    }

    .rec {
        grid-area: rec;
        justify-self: self-end;
    }
</style>

<template>
    <div class='edit-container'>
        <div class='type'>
            <b-field
                label='Do you want to edit events, or tasks?'
                label-position='on-border'
                :type='typeColor'
                :message='typeMsg'
            >
                <b-autocomplete
                    v-model='typeSelection'
                    clearable
                    open-on-focus
                    keep-first
                    :data='editableTypes'
                    field='display'
                />
            </b-field>
        </div>

        <div
            v-if='typeValid'
            class='card editor'
        >
            <div class='card-content'>
                <b-field
                    :label='nameEditLabel'
                    label-position='on-border'
                    :type='nameColor'
                    :message='nameMsg'
                >
                    <b-input
                        v-model='name'
                    />
                </b-field>
                <b-field
                    :label='dateEditLabel'
                    label-position='on-border'
                >
                    <b-datetimepicker
                        v-model='date'
                        inline
                        :min-datetime='minDate'
                    />
                </b-field>
            </div>
            <div class='card-footer'>
                <b-button
                    outlined
                    :disabled='!nameValid'
                    type='is-success'
                    @click='submit'
                >
                    {{ saveText }}
                </b-button>
                <b-button
                    outlined
                    :disabled='!id'
                    type='is-danger'
                    @click='del'
                >
                    {{ deleteText }}
                </b-button>
            </div>
        </div>
        <div
            v-else
            class='card editor'
        >
            <div class='card-content'>
                <b-message type='is-danger'>
                    Please Select a type to edit.
                </b-message>
            </div>
        </div>
        <SelectList
            :type='typeToEdit'
            :date-label='dateLabel'
            :date-prop='dateProp'
            class='rec'
            @edit='edit'
        />
    </div>
</template>
