<route>
display:
    en: Home
alias: /
</route>
<script>
import { toRefs, computed } from 'vue';
import TaskList from '#src/components/TaskList.vue';
import EventList from '#src/components/EventList.vue';
import { user } from '#src/store/user.js';
import { timeOfDay } from '#src/store/now.js';
import { currentFocus } from '#src/store/schedule.js';
import { events, tasks } from '#src/store/entries.js';

export default {
    components: {
        TaskList,
        EventList,
    },
    setup() {
        const hasTasks = computed(() => Boolean(tasks.sorted.length));
        const hasEvents = computed(() => Boolean(events.current.length));
        const { firstName: name } = toRefs(user);
        return {
            name,
            timeOfDay,
            currentFocus,

            hasEvents,
            hasTasks,

            overdueTasks: tasks.overdue,
            todayTasks: tasks.today,
            upcomingTasks: tasks.upcoming,
            futureTasks: tasks.future,

            todayEvents: events.today,
            upcomingEvents: events.upcoming,
            futureEvents: events.future,
        };
    },
};
</script>

<style>
    .page-header {
        text-align: center;
    }


    .summary-column {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1em;
    }

    .break-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-basis: 50%;
        height: 85vh;
    }

    .summary-column :deep(hr) {
        border-color: white;
        border-style: solid;
        border-width: 1px;
        width: 75%;
    }

    .summary-column :deep(hr.is-dotted) {
        border-style: dashed;
    }

    .title {
        text-transform: unset;
    }
</style>

<template>
    <div class='no-affect'>
        <div class='page-header'>
            <h1
                v-if='name'
                class='title is-1 span'
            >
                Good {{ timeOfDay }}, {{ name }}!
            </h1>
            <h1
                v-else
                class='subtitle is-1 span'
            >
                Good {{ timeOfDay }}!
            </h1>
            <h2
                v-if='currentFocus'
                class='title is-2 span'
            >
                Your current focus should be {{ currentFocus }}.
            </h2>
        </div>

        <div class='summary-column'>
            <div
                v-if='hasTasks'
                class='break-column'
            >
                <TaskList
                    :tasks='overdueTasks'
                    color='danger'
                    class='task'
                >
                    Overdue tasks
                </TaskList>
                <TaskList
                    :tasks='todayTasks'
                    color='warning'
                    class='task'
                >
                    Today's Tasks
                </TaskList>
                <TaskList
                    :tasks='upcomingTasks'
                    color='info'
                    class='task'
                >
                    Upcoming Tasks
                </TaskList>
                <TaskList
                    :tasks='futureTasks'
                    color='info'
                    class='tasks'
                >
                    Future Tasks
                </TaskList>
            </div>
            <h2
                v-else
                class='break-column title is-2'
            >
                You completed all your tasks!
            </h2>
            <div
                v-if='hasEvents'
                class='break-column'
            >
                <EventList
                    :events='todayEvents'
                    color='info'
                    class='event'
                >
                    Today's Events
                </EventList>
                <EventList
                    :events='upcomingEvents'
                    color='info'
                    class='event'
                >
                    Upcoming Events
                </EventList>
                <EventList
                    :events='futureEvents'
                    color='info'
                    class='event'
                >
                    Future Events
                </EventList>
            </div>
            <h2
                v-else
                class='break-column title is-2'
            >
                You have no events scheduled.
            </h2>
        </div>
    </div>
</template>
