<script>
    import { TXT } from '@omniblack/localization';
    import Input from '@omniblack/mithril/components/Input.svelte';
    import Label from '@omniblack/mithril/components/Label.svelte';
    import GridItem from '@omniblack/mithril/components/GridItem.svelte';
    import LevelAndClass from '#src/components/LevelAndClass.svelte';
    import CoreAttributes from '#src/components/CoreAttributes.svelte';
    import Inspired from '#src/components/Inspired.svelte';
    import ProficiencyBonus from '#src/components/ProficiencyBonus.svelte';
    import SavingThrows from '#src/components/SavingThrows.svelte';
    import ArmorClass from '#src/components/ArmorClass.svelte';
    import Initiative from '#src/components/Initiative.svelte';
    import Speed from '#src/components/Speed.svelte';
    import Skills from '#src/components/Skills.svelte';
    import HealthPoints from '#src/components/HealthPoints.svelte';
    import HitDice from '#src/components/HitDice.svelte';
    import { getChar } from '#src/character/main.js';

    const character = getChar();
</script>
<style>
    .main {
        display: grid;
        gap: var(--container-padding);
        grid-template-areas:
            "char_details char_details char_details . . ."
            "attributes inspiration inspiration armor_class initiative speed"
            "attributes prof_bonus prof_bonus armor_class initiative speed"
            "attributes saving_throw saving_throw health_points health_points health_points"
            "attributes saving_throw saving_throw hit_dice . ."
            "attributes saving_throw saving_throw . . ."
            "attributes saving_throw saving_throw . . ."
            "attributes skills skills . . ."
            "attributes skills skills . . ."
            "attributes skills skills . . ."
            "attributes skills skills . . ."
            "attributes skills skills . . ."
            "attributes skills skills . . ."
            "attributes skills skills . . ."
            "attributes skills skills . . ."
            "attributes skills skills . . .";

    }
</style>

<div class='main'>
    <LevelAndClass
        {character}
        grid_area='char_details'
    />
    <CoreAttributes
        {character}
        grid_area='attributes'
    />
    <Inspired
        {character}
        grid_area='inspiration'
    />
    <ProficiencyBonus
        {character}
        grid_area='prof_bonus'
    />
    <SavingThrows
        {character}
        grid_area='saving_throw'
    />
    <ArmorClass
        {character}
        grid_area='armor_class'
    />
    <Initiative
        {character}
        grid_area='initiative'
    />
    <Speed
        {character}
        grid_area='speed'
    />
    <Skills {character} grid_area='skills' />
    <HealthPoints
        {character}
        grid_area='health_points'
    />

    <HitDice
        {character}
        grid_area='hit_dice'
    />
</div>



