<script>
import HelloWorld from '#src/components/HelloWorld.vue';
import Input from '#src/components/Input.vue';
export default {
    components: {
        HelloWorld,
        Input,
    },
    data() {
        return {
            value: '',
        };
    },
};
</script>

<route>
alias: '/'
display:
    en: 'Home'
</route>

<template>
    {{ value }}
    <Input v-model='value'/>
    <HelloWorld msg='Hello Vue 3.0 + Vite' />
</template>
