<script>
    import { currentFocus } from '#src/store/schedule.js';
    import { timeOfDay } from '#src/store/now.js';
    import { user } from '#src/store/user.js';
    import { TXT } from '@omniblack/localization';
    import { localize } from '@omniblack/localization/svelte';
    import { events, tasks } from '#src/store/entries.js';
    import TaskList from '#src/components/TaskList.svelte';
    import EventList from '#src/components/EventList.svelte';

    $: name = $user.firstName;

    const sortedTasks = tasks.sorted;
    const sortedEvents = events.sorted;

    $: hasTasks = Boolean($sortedTasks.length);
    $: hasEvents = Boolean($sortedEvents.length);

    $: overdueTasks = tasks.overdue;
    $: todayTasks = tasks.today;
    $: upcomingTasks = tasks.upcoming;
    $: futureTasks = tasks.future;

    $: todayEvents = events.today;
    $: upcomingEvents = events.upcoming;
    $: futureEvents = events.future;

    export let params;
    $: console.log({params});
</script>

<style>
    .page-header {
        text-align: center;
    }


    .summary-column {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1em;
    }

    .break-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-basis: 50%;
        height: 85vh;
    }
</style>

<div class='page-header'>
    <h1>
        {#if name}
            {$localize(TXT`Good ${$timeOfDay}, ${name}!`)}
        {:else}
            {$localize(TXT`Good ${$timeOfDay}!`)}
        {/if}
    </h1>

    {#if $currentFocus}
        <h2>
            {$localize(TXT`Your current focus should be ${$currentFocus}.`)}
        </h2>
    {/if}
</div>

<div class='summary-column'>
    {#if hasTasks}
        <div class='break-column'>
            <TaskList
                tasks={overdueTasks}
                color='danger'
            >
                {$localize(TXT`Overdue tasks`)}
            </TaskList>
            <TaskList
                tasks={todayTasks}
                color='warning'
            >
                {$localize(TXT`Today's tasks`)}
            </TaskList>
            <TaskList
                tasks={upcomingTasks}
                color='info'
            >
                {$localize(TXT`Upcoming tasks`)}
            </TaskList>
            <TaskList
                tasks={futureTasks}
                color='info'
            >
                {$localize(TXT`Future tasks`)}
            </TaskList>
        </div>
    {:else}
        {$localize(TXT`You have completed all your tasks!`)}
    {/if}
</div>

<div class='summary-column'>
    {#if hasEvents}
        <EventList
            events={todayEvents}
            color='info'
        >
            {$localize(TXT`Today's Events`)}
        </EventList>
        <EventList
            events={upcomingEvents}
            color='info'
        >
            {$localize(TXT`Upcoming Events`)}
        </EventList>
        <EventList
            events={futureEvents}
            color='info'
        >
            {$localize(TXT`Future Events`)}
        </EventList>
    {:else}
        {$localize(TXT`You have no events schedules.`)}
    {/if}
</div>

