<route>
display:
    en: Settings
</route>

<script>
import { toRefs } from 'vue';
import { user } from '#src/store/user.js';
import { Input } from '@omniblack/mithril/src/main.js';
console.log({ Input });

export default {
    components: {
        Input,
    },
    setup() {
        const { firstName } = toRefs(user);

        return {
            name: firstName,
        };
    },
};
</script>

<style scoped>
    .settings {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    hr {
        background-color: white;
        width: 75%;
    }
</style>

<template>
    <div class='settings'>
        <h1 class='title is-1'>
            Settings
        </h1>
        <hr>
        <Input
            v-model='name'
        />
    </div>
</template>
