<style>
    .app-grid {
        display: grid;
        grid-template-areas:
        'site-nav  site-nav  site-nav  site-nav'
        'main      main      main      main'
        'main      main      main      main'
        'main      main      main      main'
        'site-info site-info site-info site-info' ;
    }

    .site-nav {
        grid-area: site-nav;
        height: 3vh;
    }

    .main {
        grid-area: main;
        height: 94vh;
        padding: 1em;
    }

    .site-info {
        align-items: center;
        display: flex;
        flex-direction: row;
        grid-area: site-info;
        height: 3vh;
        justify-content: space-between;
    }
</style>

<div class='app-grid'>
    <nav class='site-nav'>
        <slot name='site-nav' />
    </nav>
    <main class='main'>
        <slot name='main' />
    </main>
    <footer class='site-info'>
        <slot name='site-info' />
    </footer>
</div>
