<script>
    import { Temporal } from '@js-temporal/polyfill';
    import { useToLocaleString  } from '@omniblack/localization';
    import { localize } from '@omniblack/localization/svelte';
    import {
        groupby,
        imap,
        map,
        max,
        min,
        range,
        sorted,
        uniqueJustseen
    } from 'itertools';

    const { Calendar, Now, PlainYearMonth } = Temporal;

    export let calendar = undefined;
    let argMonth = undefined;
    export {argMonth as month};


    $: if (calendar === undefined) {
        calendar = Calendar
            .from(Intl.DateTimeFormat().resolvedOptions().calendar);
    } else if (typeof calendar === 'string') {
        calendar = Calendar.from(calendar);
    }

    $: now = Now.plainDate(calendar);
    $: month = createMonthObj(argMonth, now);

    function createMonthObj(userMonth, now) {
        if (userMonth === undefined) {
            return PlainYearMonth.from(now);
        } else {
            const templateObj = Object.assign({calendar}, userMonth);

            return PlainYearMonth.from(templateObj);
        }
    }


    $: days = map(
        range(1, month.daysInMonth + 1),
        (day) => month.toPlainDate({day}),
    );

    function toWeek(daysIter) {
        const week = {};

        for (const day of daysIter) {
            week[day.dayOfWeek] = day;
        }

        return week;
    }

    $: oneWeekOfDays = Array.from(uniqueJustseen(
        sorted(days, (day) => day.dayOfWeek),
        (day) => day.dayOfWeek,
    ));

    function numToWeekday(day) {
        return useToLocaleString(day, {weekday: 'long'});
    }

    $: daysOfTheWeek = map(oneWeekOfDays, (day) => day.dayOfWeek);
    $: headers = map(oneWeekOfDays, numToWeekday);

    $: weeks = map(
        groupby(days, (d) => d.weekOfYear),
        ([_weekNum, days]) => toWeek(days),
    );
    $: daysInWeek = max(imap(days, (day) => day.daysInWeek));
</script>

<style>
    .calendar {
        display: grid;
        grid-template-columns: repeat(var(--num-days-in-week), 1fr);
    }

    .calendar div {
        border-style: solid;
        border-color: white;
        border-width: 1px;
        padding: 0.5em;
    }

    .calendar-day {
        aspect-ratio: 1/1;
    }

    .calendar-header {
        display: grid;
        place-items: center flex-start;
    }
</style>

<div class='calendar' style:--num-days-in-week={daysOfTheWeek.length}>
    {#each headers as header, index (index)}
        <div class='calendar-header'>
            {$localize(header)}
        </div>
    {/each}
    {#each weeks as week, index (index)}
        {#each daysOfTheWeek as dayOfWeek (String(index) + String(dayOfWeek))}
            <div class='calendar-day'>
                {week?.[dayOfWeek]?.day ?? ''}
            </div>
        {/each}
    {/each}
</div>
