<script>
    import Autocomplete from '#src/components/Autocomplete.svelte';
    import { getDateSuggestions } from '#src/utils/date/getDateSuggestions.js';
    import { SyncableStore, syncManager } from '@omniblack/stores';
    import { formatDate } from '#src/utils/date/dateUtils.js';


    export let value;
    export let color = 'success';
    export let focused = false;

    function fromAutocomplete(autocomplete) {
        return autocomplete?.internal;
    }

    function fromValue(date) {
        if (date) {
            return {
                display: formatDate(date),
                internal: date,
            };
        } else {
            return {
                display: '',
                internal: '',
            };
        }
    }

    function getSuggestions(input) {
        return {
            suggestions: getDateSuggestions(input).map((date) => {
                return {
                    internal: date,
                    display: formatDate(date),
                };
            }),
        };
    }

    const autocompleteStore = new SyncableStore(undefined, 'date_input');

    const syncCon = syncManager(fromValue, fromAutocomplete);

    $: syncCon.setStores(value, autocompleteStore);
</script>

<Autocomplete
    {color}
    {getSuggestions}
    bind:focused
    value={autocompleteStore}
>
    <slot name='prefix' slot='prefix' let:color {color} />
    <slot name='suffix' slot='suffix' let:color {color} />
</Autocomplete>
