<script>
    import {applyStyles} from '@omniblack/mithril/utils/style.js';
    export let area;
    let cssClass;
    export {cssClass as class};


    $: style = {
        'grid-area': area,
    };
</script>

<div use:applyStyles={style} class={cssClass}>
    <slot> </slot>
</div>
