<script>
    import { animated } from '../utils/animate.js';
	export let open = false
</script>

<button
    class="text-gray-500 hover:text-gray-700 cursor-pointer mr-4 border-none focus:outline-none button"
    class:open
    on:click={() => open = !open}
>
    <!-- width=32 height=24 -->
    <svg
        viewBox='0 0 32 24'
        class='svg'
        class:animated={$animated}
    >
		<line class="top" x1=0 y1=2  x2=32 y2=2/>
		<line class="middle" x1=0 y1=12 x2=32 y2=12/>
		<line class="bottom" x1=0 y1=22 x2=32 y2=22/>
	</svg>
</button>

<style>
    .button {
        color: var(--text);
        cursor: pointer;
        border: none;
        background: transparent;
        height: 100%;
    }

    .button:focus {
        outline: none;
    }

	.svg {
        height: calc(100% - 0.2em);
        margin: 0.1em;
	}

    .svg.animated {
        transition: transform 0.3s ease-in-out;
    }

	.svg line {
		stroke: currentColor;
		stroke-width: 3;
	}

    .svg.animated line {
        transition: transform 0.3s ease-in-out;
    }

	.button {
		z-index: 20;
	}

	.open .svg {
		transform: scale(0.7)
	}

	.open .top {
		transform: translate(6px, 0px) rotate(45deg)
	}

	.open .middle {
		opacity: 0;
	}

  .open .bottom {
		transform: translate(-12px, 9px) rotate(-45deg)
	}
</style>
