<script>
    import { applyStyles } from '#src/utils/style.js';

    export let color = 'text';
    export let dotted = false;
    export let width = '75%';
    export let thickness = '1px';

    $: styles = {
        '--ruler-color': color,
        '--ruler-width': width,
        '--ruler-thickness': thickness,
    };
</script>

<style>
    .ruler {
        border-color: var(--ruler-color);
        border-style: solid;
        border-width: var(--ruler-thickness);
        width: var(--ruler-width);
    }

    .ruler.dotted {
        border-style: dashed;
    }
</style>

<hr
    class:dotted
    class='ruler'
    use:applyStyles={styles}
/>
