<script>
    import { localize } from '@omniblack/localization/svelte';
    import { applyStyles } from '../utils/style.js';

    export let family = 'material-icons';
    export let icon;
    export let color = 'info';
    export let label;
    export let id = false;
    export let size = '1em';

    $: style = {
        '--icon-color': `var(--${color})`,
        '--icon-size': size,
    };
</script>

<style>
    .icon {
        color: var(--icon-color);
        /* override the vendor default of 24px */
        font-size: var(--icon-size);
        width: var(--icon-size);
        height: var(--icon-size);
    }
</style>

<span
    class='{family} icon'
    use:applyStyles={style}
    title={$localize(label)}
    aria-label={$localize(label)}
    role='img'
    {id}
>
    {icon}
</span>
