<script>
    import Spinner from './Spinner.svelte';
    export let prom = false;
    export let color = 'text';
    export let size = '10em';
</script>

{#if prom}
    {#await prom}
        <Spinner
            {color}
            {size}
        />
    {:then value}
        <slot {value}>
        </slot>
    {:catch error}
        <slot name='error' {error}>
        </slot>
    {/await}
{:else}
    <Spinner
        {color}
        {size}
    />
{/if}
