<script>

    import { localize } from '@omniblack/localization/svelte';

    import NavLink from './NavLink.svelte';
    import Hamburger from './Hamburger.svelte';
    import { getRouter } from './router.js';
    import { isMedium } from '../utils/breakpoints.js';
    import { slide } from '../utils/transition.js';

    const router = getRouter();
    let routes = $router.routes;
    $: routes = $router.routes;

    let menuOpen = false;
</script>

<style>
    .nav-bar {
        align-items: center;
        background-color: var(--background);
        display: flex;
        height: 100%;
        flex-direction: row;
        gap: 1em;
        justify-content: flex-end;
        padding-left: 1em;
        padding-right: 1em;
        position: relative;
    }

    @media (min-width: 768px) {
        .nav-bar {
            justify-content: flex-start;
        }
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--background);
        border-color: var(--text);
        border-style: solid;
        border-width: 0.1em;
        position: absolute;
        top: 100%;
        right: 0;
        list-style: none;
        padding: 0;
    }

    .dropdown-item:not(:last-child) {
        border-bottom-color: var(--text);
        border-bottom-style: solid;
        border-bottom-width: 0.1em;
    }

    .dropdown-item {
        padding: 0.2em;
        text-align: center;
    }
</style>


<div class='nav-bar'>
    {#if $isMedium}
        {#each $routes as route (route.path)}
            <NavLink to={route.path}>
                { $localize(route.display) }
            </NavLink>
        {/each}
    {:else}
        <Hamburger
            bind:open={menuOpen}
        />
        {#if menuOpen && !$isMedium}
            <ul
                class='dropdown'
                transition:$slide
            >
                {#each $routes as route (route.path)}
                    <li class='dropdown-item'>
                        <NavLink
                            to={route.path}
                            decoration='none'
                        >
                           { $localize(route.display) }
                        </NavLink>
                    </li>
                {/each}
            </ul>
        {/if}
    {/if}
</div>

