<script>
    import { animated } from '../utils/animate.js';
    import { getRouter } from './router.js';
    import { URL, parseURL, maybeStore } from '@omniblack/stores';
    import { applyStyles } from '#src/utils/style.js';

    const router = getRouter();

    export let to;

    export let disabled = false;

    export let decoration = 'underline';

    export let block = false;

    let toStore = maybeStore(to);

    $: toStore = maybeStore(to);

    $: name = `navlink_to_${$toStore}`;
    let href;
    $: if ($toStore instanceof URL) {
        href = $router.createURL({
            query: $toStore.query,
            hash: $toStore.hash,
            path: $toStore.path,
            name,
        });
    } else if (typeof $toStore === 'object') {
            href = $router.createURL({
            ...$toStore,
            name,
        });
    } else {
        const parsed = parseURL($toStore);
        parsed.name = name;
        href = $router.createURL(parsed);
    }

    const SPACE = '\u0020';
    const triggerKeys = new Set([SPACE, 'Enter']);
    let domLink;

    function click(event) {
        if (!disabled) {
            const inNewContext = (
                event.type === 'auxclick'
                || event.ctrlKey
                || event.shiftKey
            );

            // If the click will result in the page opening in a new
            // browsing context don't interfere
            if (!inNewContext) {
                event.preventDefault();
                router.url = to;
            }

            if (domLink) {
                domLink.blur();
            }
        } else {
            event.preventDefault();
        }
    }

    function keydown(event) {
        const openInNewContext = event.ctrlKey;
        if (triggerKeys.has(event.key) && !openInNewContext) {
            event.preventDefault();
            router.url = to;
        }
    }

    let actualDecoration;

    $: if (!disabled && !block) {
        actualDecoration = decoration;
    } else {
        actualDecoration = 'none';
    }

    $: styles = {
        'text-decoration': actualDecoration,
    };
</script>
<style>
    .nav-link.enabled {
        color: var(--link);
        transition: transform ease 0.2s;
    }

    .nav-link:hover.enabled.animated {
        transform: translateY(0.20em);
    }

    .nav-link:visited {
        color: var(--link-visited);
    }

    .nav-link.disabled {
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
    }

    .nav-link.block {
        display: block;
    }
</style>

<a
    {href}
    {disabled}
    bind:this={domLink}
    class:animated={$animated}
    class:disabled
    class:block
    class='nav-link'
    class:enabled={!disabled}
    on:click={click}
    on:auxclick={click}
    on:keydown={keydown}
    use:applyStyles={styles}
    {...$$restProps}
>
    <slot />
</a>

