<!--
    Big thanks to https://moderncss.dev/pure-css-custom-checkbox-style/
    for the css.
-->
<script context='module'>
    let nextIdNum = 0n;
    function getId() {
        let id = `omniblack-switch-${nextIdNum}`;
        nextIdNum += 1n;
        return id;
    }
</script>

<script>
    import { hasContext, getContext } from 'svelte';
    import { ConnectableStore } from '@omniblack/stores';
    import { animated } from '#src/utils/animate.js';
    import { applyStyles } from '#src/utils/style.js';
    import { idStoreKey } from '#src/components/Label.svelte';

    export let value;
    export let id = false;
    export let checkColor = 'success';
    export let color = 'primary';
    export let grid_area = false;

    $: if (!id) {
        id = getId();
    }

    let idStore = new ConnectableStore();
    if (hasContext(idStoreKey)) {
        idStore = getContext(idStoreKey);
    }

    $: $idStore = id;

    function createStyles(color, checkColor, gridArea) {
        const styles = {
            '--checkbox-box-color': `var(--${color})`,
            '--checkbox-check-color': `var(--${checkColor})`,
        };

        if (gridArea) {
            styles['grid-area'] = gridArea;
        }

        return styles;
    }

    $: styles = createStyles(color, checkColor, grid_area);
</script>

<style>
    .checkbox {
        --border-color: var(--checkbox-box-color);
        appearance: none;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid var(--checkbox-box-color);
        border-radius: var(--border-radius);
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }

    .checkbox.animated::before {
        transition: 0.4s transform ease-in-out;
    }
    .checkbox::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        /* hide when unchecked */
        transform: scale(0);
        box-shadow: inset 1em 1em var(--checkbox-check-color);
        transform-origin: bottom-left;
        /* this is a checkmark */
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    .checkbox:checked::before {
        transform: scale(1);
    }

    .checkbox:focus {
        outline: var(--focus-outline);
        outline-offset: var(--focus-outline-offset);
    }

</style>

<input
    {id}
    bind:checked={$value}
    class='checkbox'
    type="checkbox"
    class:animated={$animated}
    use:applyStyles={styles}
/>
