<!--
    Create a time input field based on Autocomplete. The field will suggest
    two times, an AM and a PM, unless the user's input is unambiguous (e.g.,
    contains 'pm', 'noon', etc, or is military time).

    TODO enhanced suggestions to offer more alternatives
-->
<script>
    import { Temporal } from '@js-temporal/polyfill';
    import getTimeSuggestions from '#src/utils/time/getTimeSuggestions.js';
    import Autocomplete from '#src/components/Autocomplete.svelte';
    import { SyncableStore, syncManager } from '@omniblack/stores';
    import { plainTimeComp } from '@omniblack/temporal';
    import { useToLocaleString } from '@omniblack/localization';

    export let value;
    export let color = 'success';
    export let focused = false;

    function getSuggestions(userInput) {
        const suggestions = getTimeSuggestions(userInput);
        return {
            suggestions: suggestions.map((item) => {
                item.internal = plainTimeComp(item.internal);
                item.display = timeString(item.internal);
                return item;
            }),
        };
    }

    function timeString(time) {
        let timeStyle = 'short';
        // timeStyle short does not include seconds
        if (time.second !== 0) {
            timeStyle = 'medium';
        }

        return useToLocaleString(time, {
            timeStyle,
        });
    }

    function fromValue(newValue) {
        if (newValue) {
            const time = Temporal.PlainTime.from(newValue);
            return {
                display: timeString(time),
                internal: plainTimeComp(time),
            };
        } else {
            return {
                display: '',
                internal: undefined,
            };
        }
    }

    function fromAutocomplete({ internal }) {
        return internal?.wrapped;
    }

    const autocompleteStore = new SyncableStore(undefined, 'time_input');

    const syncCon = syncManager(fromValue, fromAutocomplete);

    $: syncCon.setStores(value, autocompleteStore);
</script>

<Autocomplete
    {color}
    {getSuggestions}
    value={autocompleteStore}
    bind:focused
>
    <slot name='prefix' slot='prefix' />
    <slot name='suffix' slot='suffix' />
</Autocomplete>
