<script>
    import { onMount, onDestroy } from 'svelte';
    import Button from './Button.svelte';
    import { tooltip } from '#src/utils/tooltip.js';

    export let buttonColor = 'info';
    export let tooltipColor = 'info';
    export let ignoreHover = false;
    export let ignoreFocus = false;
    export let disabled = false;
    export let placement = 'auto';
    export let tip = null;

    export let open = false;
    // The must be undefined to start out with, but must have an explicit
    // default so svelte will not warn when they are not provided
    /* eslint-disable no-undef-init */
    export let focused = undefined;
    //export let hovered = undefined;
    /* eslint-enable no-undef-init */

    $: openOnHover = !ignoreHover;

    let clicked = false;
    let button;
    function onClick() {
        clicked = !clicked;
        button.blur();
        //hovered.suppress();
    }


    function onKeyUp(event) {
        if (event.key === 'Escape') {
            clicked = false;
        }
    }

    onMount(() => {
        document.addEventListener('keyup', onKeyUp);
    });

    onDestroy(() => {
        document.removeEventListener('keyup', onKeyUp);
    });

    $: forceOpen = clicked;
</script>

<svelte:window on:keyup={onKeyUp} />

<Button
    {tip}
    {disabled}
    color={buttonColor}
    on:click={onClick}
    bind:element={button}
>
    <slot> </slot>
</Button>
