<script context='module'>
    import { applyStyles } from '../utils/style.js';
    import { sorted, uniqueJustseen } from 'itertools';

    function removeProperties(element, oldValues, oldData) {
        for (const [name, value] of Object.entries(oldValues)) {
            if (value === undefined) {
                delete element[name];
            } else {
                element[name] = value;
            }
        }

        for (const [name, value] of Object.entries(oldData)) {
            if (value === undefined) {
                element.removeAttribute(name);
            } else {
                element.setAttribute(name, value);
            }
        }
    }

    function getKey([key, value]) {
        return key;
    }

    function applyProperties(element, ...properties) {
        const oldData = {};
        const oldValues = {};
        const allEntries = properties.flatMap(
            (props = {}) => Object.entries(props),
        );
        const entries = Array.from(
            uniqueJustseen(sorted(allEntries, getKey), getKey),
        );

        for (const [name, value] of entries) {
            if (name.startsWith('data-')) {
                oldData[name] = element.getAttribute(name);
                element.setAttribute(name, value);
            } else {
                oldValues[name] = element[name];
                element[name] = value;
            }
        }

        return {oldValues, oldData};
    }

    export function applyTooltip(element, tooltipComponent) {
        const styleApplicator = applyStyles(element);
        let oldData = {};
        let oldValues = {};

        let stateSub = tooltipComponent?.state?.subscribe(updateState);

        function updateState({styles, attributes} = {}) {
            removeProperties(element, oldValues, oldData);
            ({oldData, oldValues} = applyProperties(element, attributes));
            styleApplicator.update(styles?.popper);
        }

        return {
            update(tooltipComponent) {
                if (stateSub) {
                    stateSub();
                }

                stateSub = tooltipComponent.state.subscribe(updateState);
            },
            destroy() {
                if (stateSub) {
                    stateSub();
                }
            },
        }
    }
</script>

<script>
    import { onDestroy } from 'svelte';
    import { createPopper } from '@popperjs/core/lib/popper-lite.js';
    import preventOverflow
        from '@popperjs/core/lib/modifiers/preventOverflow.js';
    import flip from '@popperjs/core/lib/modifiers/flip.js';

    import { SyncableStore } from '@omniblack/stores';

    import { slide } from '../utils/transition.js';
    import { createFocusManger, createHoverManger } from '../utils/events.js';


    export let color = 'info';
    export let textColor = 'background';
    export let transition = slide;

    export let tipped = null;
    export let tip = null;

    export let openOnHover = false;
    export let ignoreFocus = false;
    export let forceOpen = false;
    export let disabled = false;
    export let noStyles = false;
    export let placement = 'auto';
    export let grid_area = false;
    export let width = 'max-content';

    // exports
    export let open = false;
    export const focused = createFocusManger();
    //export const hovered = createHoverManger();

    const observer = new ResizeObserver(() => {
        popperInstance?.update();
    });


    $: styled = !noStyles;
    $: openOnFocus = !ignoreFocus;

    $: colorVar = `var(--${color})`;
    $: textColorVar = `var(--${textColor})`;

    $: tipStyles = {
        '--tooltip-background-color': colorVar,
        '--tooltip-color': textColorVar,
    };

    function createTippedStyles(gridArea) {
        const styles =  { width };

        if (gridArea) {
            styles['grid-area'] = gridArea;
        }

        return styles;
    }

    $: tippedStyles = createTippedStyles(grid_area);

    let popperInstance;

    function createPopperInstance(tipped, tip) {
        popperInstance?.destroy();

        if (tipped !== null && tip !== null) {
            popperInstance = createPopper(tipped, tip);
        } else {
            popperInstance = undefined;
        }
    }

    $: createPopperInstance(tipped, tip);

    export const state = new SyncableStore({}, 'tooltip_state');

    state.debugEnabled = false;

    const updateStateModifier = {
        name: 'updateState',
        enabled: true,
        phase: 'write',
        fn: ({ state: newState }) => $state = newState,
      };


    $: {
        const options = {
            placement,
            modifiers: [
                {
                    name: 'eventListeners',
                    enabled: true,
                },
                flip,
                preventOverflow,
                { name: 'applyStyles', enabled: false },
                updateStateModifier,
            ],
        };

        popperInstance?.setOptions(options);
    }

    $: focused.setElements(tipped, tip);
    //$: hovered.setElements(tipped, tip);

    $: {
        if (disabled) {
            open = false;
        } else if (forceOpen) {
            open = true;
        } else if (openOnFocus && $focused) {
            open = true;
        } else if (openOnHover) {
            open = true;
        } else {
            open = false;
        }
    }

    let oldTipped;
    let oldTip;

    function updateElements(newTipped, newTip) {
        if (newTipped !== oldTipped) {
            if (oldTipped) {
                observer.unobserve(oldTipped);
            }

            if (newTipped) {
                observer.observe(newTipped);
            }
            oldTipped = newTipped;
        }

        if (newTip !== oldTip) {
            if (oldTip) {
                observer.unobserve(oldTip);
            }

            if (newTip) {
                observer.observe(newTip);
            }

            oldTip = newTip;
        }
    }

    $: updateElements(tipped, tip);


    onDestroy(() => {
        popperInstance?.destroy();
    });
</script>

<style>
    .tip-wrapper.styled {
        background-color: var(--tooltip-background-color);
        color: var(--tooltip-color);
        padding: var(--border-padding);
        border-radius: var(--border-radius);
        border: var(--border);
        z-index: 100;
    }
</style>


{#if $$slots.tipped}
    <div
        bind:this={tipped}
        class='tip-wrapper'
        use:applyStyles={tippedStyles}
    >
        <slot name='tipped'>
        </slot>
    </div>
{/if}

{#if open && $$slots.tip}
    <div
        bind:this={tip}
        class='tip-wrapper'
        class:styled
        use:applyStyles={[tipStyles, $state?.styles?.popper]}
        transition:$transition
        {...$state?.attributes?.popper}
    >
            <slot name='tip'>
            </slot>
    </div>
{/if}
