<script>
    import { now } from '#src/store/now.js';
    import { TXT } from '@omniblack/localization';
    import { localize } from '@omniblack/localization/svelte';
    import { configuredLuxon } from '@omniblack/localization/luxon';

    export let date;
    export let name;
</script>

<style>
    .row {
        display: contents;
    }
</style>

<div class='row'>
    <div>
        {name}
    </div>
    <div>
        {$localize(
            configuredLuxon(($date) => $date.toRelative({ base: $now }), date),
        )}
    </div>
</div>
