<script>
    import Event from '#src/components/Event.svelte';
    import HR from '@omniblack/mithril/components/Hr.svelte';
    import { applyStyles } from '@omniblack/mithril/utils/style.js';

    export let events;
    export let color;

    $: style = {
        '--title-color': `var(--${color})`,
    };

</script>

<style scoped>
    .list-container {
        --columns: 2;
        display: grid;
        gap: 0.5em;
        grid-template-columns: repeat(var(--columns), 1fr);
        padding: 1em;
        place-items: center;
        width: 560px;
    }

    .span {
        grid-column: 1 / span var(--columns);
    }

    .stick-header {
        align-items: center;
        background-color: var(--body-background-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: stretch;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .title {
        color: var(--title-color);
    }
</style>

{#if $events.length}
    <div class='list-container'>
        <div class='stick-header span'>
            <hr>

            <h2 class='title' use:applyStyles={style}>
                <slot />
            </h2>

            <HR dotted />
        </div>

        {#each $events as event (event.id)}
            <Event {...event} />
        {/each}
    </div>
{/if}
