<script>
    import { TXT } from '@omniblack/localization';
    import { tasks, events } from '#src/store/entries.js';
    import SelectionDisplay from '#src/components/SelectionDisplay.svelte';

    // event or task
    export let type;

    let entries;

    $: if (type === 'event') {
        entries = events.current;
    } else {
        entries = tasks.current;
    }
</script>

<style scoped>
    .card-content {
        display: grid;
        gap: 1em;
    }
</style>

<div
    v-if='type'
    class='card'
>
    <div class='card-content'>
        <SelectionDisplay name={TXT`Create new`} />

        {#each $entries as entry (entries.id)}
            <SelectionDisplay {...entry} />
        {/each}
    </div>
</div>
