<script>
import { DateTime } from 'luxon';
import { mapState } from 'vuex';

export default {
    props: {
        id:{
            type: String,
            default: undefined,
        },
        date: {
            type: DateTime,
            required: false,
            default: () => DateTime.local(),
        },
        dateLabel: {
            type: String,
            required: false,
            default: 'Date',
        },
        dateProp: {
            type: String,
            required: false,
            default: 'date',
        },
        name: {
            type: String,
            default: '',
        },
        display: {
            type: String,
            default: '',
        },
    },
    computed: {
        ...mapState(['now']),
    },
    methods: {
        edit() {
            this.$emit('edit', {
                id: this.id,
                name: this.name,
                [this.dateProp]: this.date,
            });
        },
    },
};
</script>

<style scoped>
    .no-pointer {
        cursor: unset;
    }
</style>

<template>
    <div
        class='card'
        @click.stop='edit'
    >
        <div class='card-content no-pointer'>
            <div>
                {{ display || name }}
            </div>
            <div v-if='date && id'>
                {{ dateLabel }}:
                {{ date.toRelative({ base: now }) }}
            </div>
        </div>
    </div>
</template>
