<script>
    import { TXT } from '@omniblack/localization';
    import { localize } from '@omniblack/localization/svelte';
    import { WritableStore } from '@omniblack/stores';
    import { configuredLuxon } from '@omniblack/localization/luxon';
    import { now } from '#src/store/now.js';
    import NavLink from '@omniblack/mithril/components/NavLink.svelte'
    import { changeParams } from '@omniblack/mithril/utils/routing.js'

    // When this component display the create new option
    // id and date will not be provided
    export let id = false;
    export let date = false;
    export let name;

    $: configuredDate = configuredLuxon(
        ($date) => $date.toRelative({ base: $now }), $date,
    );

    const params = new WritableStore({ id }, 'selection_params');

    $: $params = {
        id,
    };
</script>

<style scoped>
    .no-pointer {
        cursor: unset;
    }
</style>

<NavLink
    block
    to={changeParams(params)}
>
    <div class='no-pointer'>
        {$localize(name)}
    </div>
    {#if date && id}
        <div class='no-pointer'>
            {$localize(TXT`Date:`)}
            {$localize(configuredDate)}
        </div>
    {/if}
</NavLink>
