<script>
import { mapState, mapGetters } from 'vuex';
import SelectionDisplay from '#src/components/SelectionDisplay.vue';

export default {
    components: {
        SelectionDisplay,
    },
    props: {
        type: {
            type: String,
            required: true,
        },
        dateLabel: {
            type: String,
            default: 'Date',
        },
        dateProp: {
            type: String,
            default: 'date',
        },
    },
    computed: {
        events() {
            if (this.type === 'event') {
                return this.currentEvents;
            } else {
                return this.currentTasks;
            }
        },
        ...mapState(['now']),
        ...mapGetters(['currentEvents', 'currentTasks']),
    },
    methods: {
        edit(...args) {
            this.$emit('edit', ...args);
        },
    },
};
</script>

<style scoped>
    .card-content {
        display: grid;
        gap: 1em;
    }
</style>

<template>
    <div
        v-if='type'
        class='card'
    >
        <div class='card-content'>
            <SelectionDisplay
                :id='undefined'
                display='Create new'
                @edit='edit'
            />
            <SelectionDisplay
                v-for='event in events'
                :id='event.id'
                :key='event.id'
                :name='event.name'
                :date='event[dateProp]'
                :date-label='dateLabel'
                :date-prop='dateProp'
                @edit='edit'
            />
        </div>
    </div>
</template>
