<script>
    import { now } from '#src/store/now.js';
    import { tasks } from '#src/store/entries.js';
    import Button from '@omniblack/mithril/components/Button.svelte';
    import { TXT } from '@omniblack/localization';
    import { localize } from '@omniblack/localization/svelte';
    import { configuredLuxon } from '@omniblack/localization/luxon';

    export let id;
    export let date;
    export let name;
</script>

<style>
    .row {
        display: contents;
    }
</style>

<div class='row'>
    <Button
        color='primary'
        on:click={() => tasks.delete(id)}
    >
        {$localize(TXT`Complete Task`)}
    </Button>
    <div>
        {name}
    </div>
    <div>
        {$localize(
            configuredLuxon(($date) => $date.toRelative({ base: $now }), date),
        )}
    </div>
</div>
