<script>
    import { SyncableStore } from '@omniblack/stores';
    import Input from '#src/components/Input.svelte';
    import Icon from '#src/components/Icon.svelte';

    const value = new SyncableStore('', 'value');
</script>

<style>
    .is-success {
        color: var(--success);
    }

    .is-danger {
        color: var(--danger);
    }

    .is-warning {
        color: var(--warning);
    }

    .is-info {
        color: var(--info);
    }

    .is-primary {
        color: var(--primary);
    }

    .is-link {
        color: var(--link);
        text-decoration: underline;
    }

    .is-link-visited {
        color: var(--link-visited);
        text-decoration: underline;
    }

    .is-b-background {
        background-color: var(--background);
    }

    .is-b-background * {
        margin: var(--border-padding);
    }

    .background-success {
        background-color: var(--success);
        color: var(--background);
        width: max-content;
        border-radius: var(--border-radius);
        padding: var(--border-padding);
    }

    .background-danger {
        background-color: var(--danger);
        color: var(--background);
        width: max-content;
        border-radius: var(--border-radius);
        padding: var(--border-padding);
    }

    .background-warning {
        background-color: var(--warning);
        color: var(--background);
        width: max-content;
        border-radius: var(--border-radius);
        padding: var(--border-padding);
    }

    .background-info {
        background-color: var(--info);
        color: var(--background);
        width: max-content;
        border-radius: var(--border-radius);
        padding: var(--border-padding);
    }

    .background-primary {
        background-color: var(--primary);
        color: var(--background);
        width: max-content;
        border-radius: var(--border-radius);
        padding: var(--border-padding);
    }

    .background-link {
        background-color: var(--link);
        color: var(--background);
        width: max-content;
        border-radius: var(--border-radius);
        padding: var(--border-padding);
    }
</style>

<div class='is-b-background'>
    <Input {value}>
        <svelte:fragment slot='prefix'>
            <Icon icon='menu' color='success' label='autocomplete' />
        </svelte:fragment>
        <svelte:fragment slot='suffix'>
            <Icon icon='done' color='success' label='success'/>
        </svelte:fragment>
    </Input>
    <Input
        color='danger'
        {value}
    >
        <svelte:fragment slot='prefix'>
            <Icon
                icon='menu'
                label='autocomplete'
                color='danger'
            />
        </svelte:fragment>
        <svelte:fragment slot='suffix'>
            <Icon
                icon='done'
                color='danger'
                label='success'
            />
        </svelte:fragment>
    </Input>

    <Input
        color='warning'
        {value}
    >
        <svelte:fragment slot='prefix'>
            <Icon
                icon='menu'
                label='autocomplete'
                color='warning'
            />
        </svelte:fragment>
        <svelte:fragment slot='suffix'>
            <Icon
                icon='done'
                color='warning'
                label='warning'
            />
        </svelte:fragment>
    </Input>

    <Input
        color='info'
        {value}
    >
        <svelte:fragment slot='prefix'>
            <Icon
                icon='menu'
                label='autocomplete'
                color='info'
            />
        </svelte:fragment>
        <svelte:fragment slot='suffix'>
            <Icon
                icon='done'
                color='info'
                label='info'
            />
        </svelte:fragment>
    </Input>


    <Input
        color='primary'
        {value}
    >
        <svelte:fragment slot='prefix'>
            <Icon
                icon='menu'
                label='autocomplete'
                color='primary'
            />
        </svelte:fragment>
        <svelte:fragment slot='suffix'>
            <Icon
                icon='done'
                color='primary'
                label='primary'
            />
        </svelte:fragment>
    </Input>

    <Input
        color='link'
        {value}
    >
        <svelte:fragment slot='prefix'>
            <Icon
                icon='menu'
                label='autocomplete'
                color='link'
            />
        </svelte:fragment>
        <svelte:fragment slot='suffix'>
            <Icon
                icon='done'
                color='link'
                label='link'
            />
        </svelte:fragment>
    </Input>

    <div class='is-success'>
        This is success Text.
    </div>

    <div class='is-danger'>
        This is danger Text.
    </div>

    <div class='is-warning'>
        This is warning Text.
    </div>

    <div class='is-info'>
        This is info Text.
    </div>

    <div class='is-primary'>
        This is primary Text.
    </div>

    <div class='is-link'>
        This is link Text.
    </div>

    <div class='is-link-visited'>
        This is link visited text.
    </div>

    <div class='background-success'>
        This is success Text.
    </div>

    <div class='background-danger'>
        This is danger Text.
    </div>

    <div class='background-warning'>
        This is warning Text.
    </div>

    <div class='background-info'>
        This is info Text.
    </div>

    <div class='background-primary'>
        This is primary Text.
    </div>

    <div class='background-link'>
        This is link Text.
    </div>
</div>

