<script>
import routes from '#src/routes.js';

export default {
    data() {
        return {
            routes: Object.entries(routes),
        };
    },
    methods: {
        getDisplay(path, { display } = {}) {
            return display || path;
        },
    },
};
</script>

<style>
    body {
        width: 100%;
        height: 100%;
        overflow: auto;
        overflow-y: scroll;
    }

    html {
        height: 100vh;
        width: 100%;
        display: grid;
        overflow-y: hidden;
    }
</style>

<style scoped>
    .page {
        height: 100%;
    }

    .app {
        height: 100%
    }
</style>


<template>
    <div class='app'>
        <b-navbar
            class='nav-header'
            type='is-primary'
            fixed-top
        >
            <template slot='start'>
                <b-navbar-item
                    v-for='[ path, meta ] in routes'
                    :key='path'
                    tag='nuxt-link'
                    :to='path'
                >
                    {{ getDisplay(path, meta) }}
                </b-navbar-item>
            </template>
        </b-navbar>
        <div class='page'>
            <nuxt />
        </div>
    </div>
</template>
