{%macro image_link(rec)%}
    <mithril-image
        src="rec.
{%macro literature_display(rec)%}
    <style>
        .literature {
            box-shadow: var(--shadow-1);
            border: var(--omniblack-border);
            border-color: var(--omniblack-branding-fg);
        }
    </style>
    <section class='literature'>
        <h3>{{rec.title}}</h3>
    </section>
