<style scoped>

    .page-header {
        text-align: center;
    }


    .summary-column {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1em;
    }

    .break-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-basis: 50%;
        height: 85vh;
    }

    .summary-column >>> hr {
        border-color: white;
        border-style: solid;
        border-width: 1px;
        width: 75%;
    }

    .summary-column >>> hr.is-dotted {
        border-style: dashed;
    }

    .title {
        text-transform: unset;
    }
</style>

<template>
    <div class='no-affect'>
        <div class='page-header'>
            <h1
                class='subtitle is-1 span'
            >
                Recipes App
            </h1>
        </div>
    </div>
</template>
