<script>
export default {
    computed: {
        name: {
            set(value) {
                this.$store.commit('user/setFirstName', value);
            },
            get() {
                return this.$store.state.user.firstName;
            },
        },
    },
};
</script>

<style scoped>
    .settings {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    hr {
        background-color: white;
        width: 75%;
    }
</style>

<template>
    <div class='settings'>
        <h1 class='title is-1'>
            Settings
        </h1>
        <hr>
        <b-field
            label='Your Name'
            label-position='on-border'
        >
            <b-input
                v-model='name'
                size='is-large'
            />
        </b-field>
    </div>
</template>
