{%extends 'layout.html.jinja'%}

{%block icon%}
    <mithril-icon
        src="{{url_for('/icon?color=var(--omniblack-branding-fg)')}}"
        class="site-logo"
    >
    </mithril-icon>
{%endblock%}

{%block head%}
<style>
    .site-logo {
        height: 5em;
        width: 5em;
    }
</style>
{%endblock%}

{%block title%}
    Auth - Home
{%endblock%}

{%block body%}
{%endblock%}
