{%extends 'layout.html.jinja'%}

{%block head%}
<style>
    .main {
        display: grid;
        place-items: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        align-items: center;
    }
</style>
{%endblock%}

{%block title%}
    Auth - Login
{%endblock%}

{%block body%}
    <form class='form' method="post">
        <h1>Please Login</h1>
        <mithril-input required class='input' name='email'>
            <span slot='label'>
                Email
            </span>
        </mithril-input>
        <mithril-password required class='input' name='password'>
            <span slot='label'>
                Password
            </span>
        </mithril-password>
        <mithril-button type="submit">
            Login
        </mithril-button>
    </form>
{%endblock%}

