{%extends 'layout.html.jinja'%}

{%block head%}
    <style>
        .main {
            display: grid;
            place-items: center;
        }
    </style>
{%endblock%}

{%block title%}
    Auth - Profile
{%endblock%}

{%block body%}
    <div>
        Display Name {{user.display_name}}
    </div>
    <div>
        Email {{user.email}}
    </div>
{%endblock%}
