<!doctype html>

<html lang="{{lang or 'en'}}">
    <head>
        <meta charset="utf-8">
        <link
            href="{{url_for('/index.css', package='mithril')}}"
            rel="stylesheet"
        >

        <link
            href="{{url_for('/icon?color=' + theme.branding_fg)}}"
            rel="icon"
        >
        <title>{%block title required%}{%endblock%}</title>
        <script type="module">
            import {animatedEl} from "{{url_for(
                '/utils/animate.js',
                package='mithril'
            )}}";
            import {to} from "{{url_for(
                '/utils/navigation.js',
                package='mithril'
            )}}";
            animatedEl(document.querySelector('main'));

            {%if config.user%}
                const logout = document.getElementById('logout');
                const circle = document.getElementById('user-circle');

                logout.addEventListener('click', () => {
                   to("{{url_for('/logout', package='auth')}}", 'post');
                });

                if (!CSS.supports('position-anchor', '--anchor')) {
                    const { default: polyfill } = await import(
                        "https://unpkg.com/@oddbird/css-anchor-positioning/dist/css-anchor-positioning-fn.js"
                    );

                    polyfill(true);
                }
            {%endif%}
        </script>
        {%block head%}
        {%endblock%}
    </head>
    <body>
        <header class='site-header'>
            <mithril-link to="{{url_for('/')}}" class="logo-link">
                {%block icon%}
                    <mithril-icon
                        src="{{url_for('/icon?color=var(--omniblack-branding-fg)')}}"
                        class="site-logo"
                    >
                    </mithril-icon>
                {%endblock%}
            </mithril-link>
            <nav>
                {%for path, page in pages.items()%}
                    {%if path != '/'%}
                        <mithril-link to="{{url_for(path)}}">
                            {{page['display']['en']}}
                        </mithril-link>
                    {%endif%}
                {%endfor%}
            </nav>
            {%if config.user%}
                <button
                    class='user-circle'
                    id='user-circle'
                    popovertarget='user-menu'
                >
                    <div>
                        {{config.user.display_name[0]}}
                    </div>
                </button>
                <div
                    class='user-menu'
                    id='user-menu'
                    popover
                >
                    <mithril-link to="{{url_for('/user', package='auth')}}">
                        User Profile
                    </mithril-link>
                    <mithril-button
                        id='logout'
                        color='danger'
                    >
                        Logout
                    </mithril-button>
                </div>
            {%endif%}
        </header>
        <main class='main'>
            {%block body required%}
            {%endblock%}
        </main>
    </body>
</html>
