<script context="module">
    let nextIdNum = 0n;
    function getId() {
        let id = `sheet-alignment-${nextIdNum}`;
        nextIdNum += 1n;
        return id;
    }

    let labeId = 0n;
    function getLabelId() {
        let id = `sheet-alignment-label-${labeId}`;
        labeId += 1n;
        return id;
    }
</script>

<script>
    import {TXT} from '@omniblack/localization';
    import Enum from '@omniblack/mithril/components/Enum.svelte';
    import Label from '@omniblack/mithril/components/Label.svelte';
    import {applyStyles} from '@omniblack/mithril/utils/style.js';

    export let value;
    export let label;
    export let grid_area = false;

    const id = getId();
    const labelId = getLabelId();
    const law_axis_values = [
        {
            display: TXT`Lawful`,
            internal: 'lawful',
        },
        {
            display: TXT`Neutral`,
            internal: 'neutral',
        },
        {
            display: TXT`Chaotic`,
            internal: 'chaotic',
        },
    ];

    const good_axis_values = [
        {
            display: TXT`Good`,
            internal: 'good',
        },
        {
            display: TXT`Neutral`,
            internal: 'neutral',
        },
        {
            display: TXT`Evil`,
            internal: 'evil',
        },
    ];

    $: lawfulAxis = value.getChild(0, '');
    $: goodAxis = value.getChild(1, '');

    function createStyles(gridArea) {
        const styles = {};
        if (gridArea) {
            styles['grid-area'] = gridArea;
        }
        return styles;
    }

    $: styles = createStyles(grid_area);

</script>

<style>
    .alignment-container {
        display: grid;
        grid-template:
            "label null"
            "lawful good";
    }
</style>

<div class='alignment-container' use:applyStyles={styles}>
    <Label
        {label}
        for={id}
        id={labelId}
        grid_area='label'
    />


    <Enum
        {id}
        grid_area='lawful'
        value={lawfulAxis}
        possibleValues={law_axis_values}
    />

    <Enum
        grid_area='good'
        aria_labelledby={labelId}
        value={goodAxis}
        possibleValues={good_axis_values}
    />
</div>

