<script>
    import { TXT } from '@omniblack/localization';
    import { applyStyles} from '@omniblack/mithril/utils/style.js';
    import Input from '@omniblack/mithril/components/Input.svelte';
    import Label from '@omniblack/mithril/components/Label.svelte';

    export let character;
    export let grid_area;

    const styles = { 'grid-area': grid_area };

    $: armorClass = character.getChild('armorClass', 0);
</script>

<style>
    .armor-class {
        border: var(--border);
        border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
        aspect-ratio: 1 / 1;
        padding: var(--container-padding);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div class='armor-class' use:applyStyles={styles}>
    <Label label={TXT`Armor Class`}>
        <Input
            value={armorClass}
            width={2}
            type='number'
        />
    </Label>
</div>

