<script>
    import Input from '@omniblack/mithril/components/Input.svelte';
    import Label from '@omniblack/mithril/components/Label.svelte';
    import DiceModifier from '#src/components/DiceModifier.svelte';

    export let character;
    export let attribute;

    $: attributes = character.getChild('attributes');
    $: attrStore = attributes.getChild(attribute);
    $: value = attrStore.getChild('value');
    $: modifier = attrStore.getChild('modifier');

    $: attrDef = config.rpg.attributes[attribute];
    $: label = attrDef.display;
</script>

<style>
    .attr_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--internal-padding);
    }
</style>

<div class='attr_container'>
    <Label {label}>
        <Input {value} type='number' width={2}/>
    </Label>
    <DiceModifier value={$modifier} />
</div>
