<script>
    import Attribute from '#src/components/Attribute.svelte';
    import {applyStyles} from '@omniblack/mithril/utils/style.js';

    export let character;
    export let grid_area;

    function createStyles(gridArea) {
        const styles = {};
        if (gridArea) {
            styles['grid-area'] = gridArea;
        }
        return styles;
    }
</script>

<style>
    .attributes_container {
        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--container-padding);
        display: grid;
        flex-direction: column;
        gap: 0.5em;
    }
</style>

<div class='attributes_container' use:applyStyles={createStyles(grid_area)}>
    {#each Object.keys(config.rpg.attributes) as attribute (attribute)}
        <Attribute {attribute} {character} />
    {/each}
</div>



