<script>
    import Roll from '#src/components/Roll.svelte';
    import Button from '@omniblack/mithril/components/Button.svelte';

    export let number = 1;
    export let size = 20;
    export let modifier = 0;
    export let noAdvantage = false;

    let advantage = false;
    let disadvantage = false;
    let total1;
    let total2;

    function toggleAdvantage() {
        advantage = !advantage;
        disadvantage = false;
    }

    function toggleDisadvantage() {
        disadvantage = !disadvantage;
        advantage = false;
    }

    $: secondEnabled = (advantage || disadvantage) && !noAdvantage;

    let total;

    $: if (secondEnabled) {
        if (advantage) {
            total = Math.max(total1, total2);
        } else {
            total = Math.min(total1, total2);
        }
    } else {
        total = total1;
    }

    let advantageText;

    $: if (secondEnabled) {
        if (advantage) {
            advantageText = 'Advantaged';
        } else {
            advantageText = 'Disadvantaged';
        }
    } else {
        advantageText = '';
    }
</script>

<style>
    .rolls {
        display: grid;
        grid-template-columns: repeat(auto, 3);
        place-items: center;
        gap: var(--internal-padding);
    }

    .total {
        grid-column: 2;
    }

    .firstRoll, .secondRoll {
        grid-column: 2;
    }

    .advantage {
        grid-column: 1;
    }

    .disadvantage {
        grid-column: 3;
    }

    .currentAdvantage {
        grid-column: 2;
    }
</style>

<div class='rolls'>
    {#if secondEnabled}
        <div class='total'>
            {total}
        </div>
    {/if}

    <div class='firstRoll'>
        <Roll
            {number}
            {size}
            {modifier}
            bind:total={total1}
        />
    </div>

    {#if secondEnabled}
        <div class='secondRoll'>
            <Roll
                {number}
                {size}
                {modifier}
                bind:total={total2}
            />
        </div>
    {/if}

    {#if !noAdvantage}
        <div class='advantage'>
            <Button on:click={toggleAdvantage} color='success'>
                Advantage
            </Button>
        </div>
        <div class='currentAdvantage'>
            {advantageText}
        </div>
        <div class='disadvantage'>
            <Button on:click={toggleDisadvantage} color='danger'>
                Disadvantage
            </Button>
        </div>
    {/if}
</div>
