<script context='module'>
    let nextIdNum = 0n
    function getId() {
        let id = `sheet-dice-modifier-${nextIdNum}`;
        nextIdNum += 1n;
        return id;
    }
</script>

<script>
    import { hasContext, getContext } from 'svelte';
    import { ConnectableStore } from '@omniblack/stores';
    import {idStoreKey} from '@omniblack/mithril/components/Label.svelte';
    import Tooltip from '@omniblack/mithril/components/Tooltip.svelte';
    import DiceRoll from '#src/components/DiceRoll.svelte';

    export let value;
    export let id = '';
    export let dice = 1;
    export let size = 20;

    let open = false;

    $: if (!id) {
        id = getId();
    }

    let idStore = new ConnectableStore();
    if (hasContext(idStoreKey)) {
        idStore = getContext(idStoreKey);
    }

    $: $idStore = id;


    $: modifierPrefix = value >= 0
        ? '+'
        : '-';

    function toggle() {
        open = !open;
    }
</script>

<style>
    .no-button {
        color: currentColor;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .no-button:focus {
        outline: var(--focus-outline);
        outline-offset: var(--focus-outline-offset);
    }

    .modifier {
        border: var(--border);
        border-radius: 50%;
        padding: 0.5em;
        text-align: center;
    }
</style>

<Tooltip ignoreFocus forceOpen={open}>
    <button
        slot='tipped'
        class='modifier no-button'
        {id}
        on:click={toggle}
    >
        {modifierPrefix} {Math.abs(value)}
    </button>
    <svelte:fragment slot='tip'>
        <DiceRoll {size} number={dice} modifier={value} />
    </svelte:fragment>
</Tooltip>
