<script>
    import { TXT } from '@omniblack/localization';
    import { localize } from '@omniblack/localization/svelte';
    import Input from '@omniblack/mithril/components/Input.svelte';
    import { applyStyles } from '@omniblack/mithril/utils/style.js';

    export let character;
    export let grid_area;
    $: healthPoints = character.getChild('healthPoints', 0);
    $: maxHealth = character.getChild('maxHealth', 0);
    $: tempHealth = character.getChild('tempHealth', 0);

    $: effectiveHealth = $healthPoints + $tempHealth;
    $: effectiveMax = Math.max(effectiveHealth, $maxHealth);

    $: low = Math.floor(effectiveMax * 0.7);
    $: high = Math.floor(effectiveMax * 0.9)

    $: styles = {
        'grid-area': grid_area,
    };

</script>
<style>
    .health-container {
        border-radius: var(--border-radius);
        border: var(--border);
        display: flex;
        flex-direction: column;
        gap: var(--internal-padding);
        justify-content: space-around;
        padding: var(--border-padding);
    }

    .health-points {
        display: flex;
        flex-direction: row;
        gap: var(--internal-padding);
    }

    .health {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: var(--border);
        border-radius: var(--border-radius);
    }

    .health div {
        text-align: center;
    }
</style>

<div class='health-container' use:applyStyles={styles}>
    <div class='health-points'>
        <div class='health'>
            <div>
                {$localize(TXT`Max Health`)}
            </div>
            <Input
                value={maxHealth}
                width={3}
                type='number'
            />
        </div>
        <div class='health'>
            <div>
                {$localize(TXT`Current Health`)}
            </div>
            <Input
                value={healthPoints}
                width={3}
                type='number'
            />
        </div>
        <div class='health'>
            <div>
                {$localize(TXT`Temporary Health`)}
            </div>
            <Input
                value={tempHealth}
                width={3}
                type='number'
            />
        </div>
    </div>
    <meter
        class='health-meter'
        min="0"
        max={effectiveMax}
        value={effectiveHealth}
        optimum={effectiveMax}
        {high}
        {low}
    >
        {effectiveHealth} out of {maxHealth} HP
    </meter>
</div>
