<script>
    import { applyStyles } from '@omniblack/mithril/utils/style.js';
    export let color = 'danger';

    $: colorVar = `var(--${color})`;
    $: styles = {
        '--heart-color': colorVar,
    };
</script>

<style>
    .heart {
        display: grid;
        place-items: center;
        aspect-ratio: 1;
        padding: 3em;
        width: max-content;
        border-image: radial-gradient(var(--heart-color) 69%,#0000 70%) 84.5% fill/100%;
        clip-path: polygon(-41% 0,50% 91%, 141% 0);
        /* make text white with a black border */
        color: var(--text);
        text-shadow: -1px 1px 0 var(--background),
            1px 1px 0 var(--background),
            1px -1px 0 var(--background),
            -1px -1px 0 var(--background);
    }
</style>
<div class='heart' use:applyStyles={styles}>
    <slot></slot>
</div>
