<script>
    import { sum } from 'itertools';
    import Button from '@omniblack/mithril/components/Button.svelte';
    import { applyStyles } from '@omniblack/mithril/utils/style.js';
    export let character;
    export let grid_area;


    const health = character.getChild('healthPoints');
    const maxHealth = character.getChild('maxHealth');
    const hitDice = character.getChild('hit_dice');

    const max = hitDice.getChild('max');
    const current = hitDice.getChild('current');
    const dice = hitDice.getChild('dice');


    $: diceUsable = $current !== 0;

    $: styles = {
        'grid-area': grid_area,
    };

    function useDice() {
        const {values} = $dice.roll();
        current.update((value) => {
            value -= 1;
            value = Math.max(0, value);
            return value;
        });
        const newHealth = $health + sum(values);
        $health = Math.min(newHealth, $maxHealth);
    }

</script>

<style>
    .hit_dice {
        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--border-padding);
        display: grid;
        place-items: center;
    }
</style>

<div use:applyStyles={styles} class='hit_dice'>
    <div>Hit Dice</div>
    <div>{$current}/{$max}</div>
    <Button on:click={useDice} disabled={!diceUsable}>
        Use Hit Die
    </Button>
</div>
