<script>
    import { TXT } from '@omniblack/localization';
    import { applyStyles} from '@omniblack/mithril/utils/style.js';
    import Input from '@omniblack/mithril/components/Input.svelte';
    import Label from '@omniblack/mithril/components/Label.svelte';

    export let character;
    export let grid_area;

    const styles = { 'grid-area': grid_area };

    $: initiative = character.getChild('initiative', 0);
</script>

<style>
    .initiative {
        border: var(--border);
        border-radius: var(--border-radius);
        aspect-ratio: 1 / 1;
        padding: var(--border-padding);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div class='initiative' use:applyStyles={styles}>
    <Label label={TXT`Initiative`}>
        <Input
            value={initiative}
            width={2}
            type='number'
        />
    </Label>
</div>

