<script>
    import Label from '@omniblack/mithril/components/Label.svelte';
    import Switch from '@omniblack/mithril/components/Switch.svelte';
    import {applyStyles} from '@omniblack/mithril/utils/style.js';

    export let character;
    export let grid_area;

    $: styles = {
        'grid-area': grid_area,
    };
</script>

<style>
    .inspired-container {
        align-items: center;
        border-radius: var(--border-radius);
        border: var(--border);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: var(--border-padding);
    }
</style>

<div class='inspired-container' use:applyStyles={styles}>
    <Label label='Inspired' inline labelLast>
        <Switch value={character.getChild('inspired', false)} />
    </Label>
</div>

