<script>
    import { TXT } from '@omniblack/localization';
    import Input from '@omniblack/mithril/components/Input.svelte';
    import Label from '@omniblack/mithril/components/Label.svelte';
    import GridItem from '@omniblack/mithril/components/GridItem.svelte';
    import Alignment from '#src/components/Alignment.svelte';
    import Enum from '@omniblack/mithril/components/Enum.svelte';
    import {applyStyles} from '@omniblack/mithril/utils/style.js';

    export let grid_area;
    export let character;

    $: styles = {
        'grid-area': grid_area,
    }

    $: classesList = Object.values(config.rpg.classes).map((klass) => {
        return {display: klass.display, internal: klass.id};
    });

</script>

<style>
    .levelAndClass {
        display: grid;
        grid-template-areas:
            "name name name"
            "class level background"
            "race alignment alignment";
        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--container-padding);
    }
</style>

<div class='levelAndClass' use:applyStyles={styles}>
    <GridItem area='name'>
        <Label label={TXT`Character Name`}>
            <Input value={character.getChild('name', '')} />
        </Label>
    </GridItem>
    <GridItem area='class'>
        <Label label={TXT`Class`}>
            <Enum
                value={character.getChild('class', '')}
                possibleValues={classesList}
            />
        </Label>
    </GridItem>
    <GridItem area='level'>
        <Label label={TXT`Level`}>
            <Input
                value={character.getChild('level', 1)}
                type='number'
            />
        </Label>
    </GridItem>
    <GridItem area='background'>
        <Label label={TXT`Background`}>
            <Input value={character.getChild('background', '')} />
        </Label>
    </GridItem>
    <GridItem area='race'>
        <Label label={TXT`Race`}>
            <Input value={character.getChild('race', '')} />
        </Label>
    </GridItem>
    <Alignment
        label={TXT`Alignment`}
        value={character.getChild('alignment', [])}
        grid_area='alignment'
    />
</div>

