<script>
    import {TXT} from '@omniblack/localization';
    import {applyStyles} from '@omniblack/mithril/utils/style.js';
    import Label from '@omniblack/mithril/components/Label.svelte';
    import DiceModifier from '#src/components/DiceModifier.svelte';

    export let character;
    export let grid_area;

    $: proficiencyBonus = character.getChild('proficiencyBonus');

    $: styles = {
        'grid-area': grid_area,
    };
</script>

<style>
    .prof-bonus-container {
        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--internal-padding);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
</style>

<div class='prof-bonus-container' use:applyStyles={styles}>
    <Label label={TXT`Proficiency Bonus`} inline labelLast>
        <DiceModifier value={$proficiencyBonus}/>
    </Label>
</div>
