<script>
    import { Dice } from '#src/utils/dice.js';
    import { sum } from 'itertools';

    export let modifier = 0;
    export let size = 20;
    export let number = 1;

    // exports
    export let total = 0

    let dice = new Dice({number, size});
    $: dice = new Dice({number, size});

    let lastRoll = [];
    roll();

    function roll() {
        lastRoll = dice.roll();
    }

    $: modifierOperator = modifier >= 0
        ? '+'
        : '-';


    $: total = sum(lastRoll) + modifier;

    $: rollDisplay = lastRoll.join(' + ');
</script>

<style>
    .no-button {
        appearance: none;
        border: none;
        background: transparent;
        color: currentColor;
        cursor: pointer;
    }

    .no-button:focus {
        outline: var(--focus-outline);
        outline-offset: var(--focus-outline-offset);
    }
</style>

<button class='no-button' on:click={roll}>
    {rollDisplay}
    {#if modifier !== 0}
        {modifierOperator} {Math.abs(modifier)}
    {/if}
    {#if modifier !== 0 || number > 1}
        = {total}
    {/if}
</button>
