<script context='module'>
    let nextIdNum = 0n
    function getId() {
        let id = `sheet-saving-throw-${nextIdNum}`;
        nextIdNum += 1n;
        return id;
    }
</script>

<script>
    import DiceModifier from '#src/components/DiceModifier.svelte';
    import Label from '@omniblack/mithril/components/Label.svelte';
    import Switch from '@omniblack/mithril/components/Switch.svelte';

    export let character;
    export let attribute;

    $: attributes = character.getChild('attributes');
    $: attributeStore = attributes.getChild(attribute);
    $: proficient = attributeStore.getChild('proficient');
    $: savingThrow = attributeStore.getChild('saving_throw_modifier');

    $: attrDef = config.rpg.attributes[attribute];
    $: display = attrDef.display;

    const id = getId();
</script>

<style>
    .saving-throw-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
    }
</style>

<div class='saving-throw-container'>
    <Switch value={proficient} />
    <DiceModifier value={$savingThrow} {id} />
    <Label label={display} inline labelLast for={id} />
</div>



