<script>
    import {TXT} from '@omniblack/localization';
    import {localize} from '@omniblack/localization/svelte';
    import {applyStyles} from '@omniblack/mithril/utils/style.js';
    import SavingThrow from '#src/components/SavingThrow.svelte';

    export let character;
    export let grid_area;

    $: styles = {
        'grid-area': grid_area,
    };
</script>

<style>
    .saving-throws-container {
        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--internal-padding);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .saving-throws-text {
        align-self: center;
    }
</style>

<div use:applyStyles={styles} class='saving-throws-container'>
    {#each Object.keys(config.rpg.attributes) as attribute (attribute)}
        <SavingThrow
            {attribute}
            {character}
        />
    {/each}
    <div class='saving-throws-text'>
        {$localize(TXT`Saving Throws`)}
    </div>
</div>

