<script>
    import { TXT } from '@omniblack/localization';
    import { localize } from '@omniblack/localization/svelte';
    import { applyStyles } from '@omniblack/mithril/utils/style.js';
    import Skill from '#src/components/Skill.svelte';

    export let character;
    export let grid_area;

    $: styles = {
        'grid-area': grid_area,
    };
</script>

<style>
    .skills-container {
        display: flex;
        flex-direction: column;
        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--internal-padding);
    }

    .skills-text {
        align-self: center;
    }
</style>

<div class='skills-container' use:applyStyles={styles}>
    {#each Object.values(config.rpg.skills) as skill, index (index)}
        <Skill {character} {skill} />
    {/each}

    <div class='skills-text'>
        {$localize(TXT`Skills`)}
    </div>
</div>



