<script context='module'>
    let nextIdNum = 0n
    function getId() {
        let id = `sheet-skill-${nextIdNum}`;
        nextIdNum += 1n;
        return id;
    }
</script>

<script>
    import { localize } from '@omniblack/localization/svelte';
    import Input from '@omniblack/mithril/components/Input.svelte';
    import Tooltip from '@omniblack/mithril/components/Tooltip.svelte';
    import Switch from '@omniblack/mithril/components/Switch.svelte';
    import Label from '@omniblack/mithril/components/Label.svelte';

    export let skill;
    export let character;
    export let grid_area;
    const id = getId();

    $: skills = character.getChild('skills', {});
    $: attribute = config.rpg.attributes[skill.attribute];
    $: attrDisplay = attribute.display;
    $: display = skill.display;
    $: name = skill.name;
    $: skillChild = skills.getChild(name, {});
    $: proficient = skillChild.getChild('proficient', false);
    $: skillValue = skillChild.getChild('value', 0);
</script>
<style>
    .skill-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .label-wrapper {
        width: max-content;
    }
</style>
<Tooltip openOnHover {grid_area} width='100%'>
    <svelte:fragment slot='tip'>
        {$localize(attrDisplay)}
    </svelte:fragment>
    <div class='skill-container' slot='tipped'>
        <Switch value={proficient} />
        <div class='label-wrapper'>
            <Label label={display} for={id}/>
        </div>
        <Input
            value={skillValue}
            type='number'
            width={3}
            id={id}
        />
    </div>
</Tooltip>
