/*
* The `html` element selector is the same as the pseudo-class `:root`,
* but with a lower specificity.
*
* Usually the pseudo-class `:root` is used to set css custom properties,
* but we want to have the lower specificity so that downstream devs can
* override the default colors easily.
*/

html {
    --omniblack-primary-accent-fg: hsl(0, 0%, 0%);
    --omniblack-primary-accent-bg: hsl(132, 40%, 40%);

    --omniblack-success-fg: hsl(0, 0%, 0%);
    --omniblack-success-bg: hsl(108, 96%, 42%);

    --omniblack-warning-fg: hsl(0, 0%, 0%);
    --omniblack-warning-bg: hsl(54, 98%, 49%);

    --omniblack-danger-fg: hsl(0, 0%, 0%);
    --omniblack-danger-bg: hsl(360, 100%, 56%);

    --omniblack-link-fg: hsl(0, 0%, 0%);
    --omniblack-link-bg: hsl(271, 56%, 60%);

    --omniblack-background-fg: hsl(0, 0%, 0%);
    --omniblack-background-bg: hsl(0, 0%, 6%);


    /* Input colors */
    --omniblack-input-bg: hsl(0, 0%, 0%);
    --omniblack-input-fg: hsl(0, 100%, 100%);
    --omniblack-input-feedback-danger: hsl(0, 50%, 50%);
    --omniblack-input-feedback-success: hsl(108, 96%, 42%);
    --omniblack-input-outline: hsl(230, 100%, 50%);
}
