@import 'cssremedy/css/remedy.css';
@import 'open-props/shadows.min.css';
@import './theme.css';

html {
    box-sizing: border-box;
    min-height: 100vh;

    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
}

body {
    background-color: var(--omniblack-body-background-color);
    color: var(--omniblack-text-fg);
    min-height: 100vh;

    display: grid;
    grid-template-areas:
        "header  header header  header  header header"
        "sidebar .      content content content ."
        "sidebar .      content content content ."
        "sidebar .      content content content ."
        "footer  footer footer  footer  footer footer";

    grid-template-columns: max-content 1em 1fr 1fr 1fr 0.5em;
    grid-template-rows: max-content 1fr 1fr 1fr minmax(1em, max-content);
    gap: 0.5em;
}


main {
    box-shadow: var(--shadow-3);
    border: var(--omniblack-border);
    border-color: var(--omniblack-branding-fg);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    grid-area: content;
    /* This helps with eliminate z-index conflicts */
    isolation: isolate;
    padding: 0.2em;
}

main.animated:hover, main.animated:focus-within {
    box-shadow: var(--shadow-5);
}

.site-header {
    align-items: center;
    background-color: var(--omniblack-text-bg);
    box-shadow: var(--shadow-2);

    grid-area: header;
    height: 5em;
    padding: 0.5em;

    display: grid;
    grid-template-columns: min-content 1fr min-content;
}

.site-logo, .logo-link {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.user-circle {
    anchor-name: --user-circle;

    grid-column: 3;
    background-color: var(--omniblack-branding-fg);
    width: 3em;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    display: grid;
    place-items: center;
    text-transform: capitalize;
    border: none;
}

.user-circle:focus-visible {
    outline: var(--omniblack-focus-ring);
    outline-offset: var(--omniblack-focus-ring-padding);
}

.user-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    padding: 0.5em;

    inset: unset;
    position: absolute;
    position-anchor: --user-circle;
    top: calc(anchor(bottom) + 10px);
    right: anchor(right);

    border: var(--omniblack-border);
    box-shadow: var(--shadow-6);
    color: var(--omniblack-text-fg);
    background-color: var(--omniblack-text-bg);

    isolation: isolate;
    z-index: 1;
}

.user-menu:popover-open {
    display: flex;
}

