<script>
    import App from '#src/components/App.svelte';
    import NavBar from '#src/components/NavBar.svelte';
    import RouterRender from '#src/components/RouterRenderer.svelte';
    import { Router } from '#src/components/router.js';
    import Loader from '#src/components/Loader.svelte';

    export let routes;
    export let baseURL = '';
    export let asyncSetup = false;

    const router = new Router(routes, baseURL);
    let rootProm = Promise.resolve();
    if (asyncSetup) {
        console.log('calling async setup');
        rootProm = asyncSetup();
    }
</script>

<App>
    <svelte:fragment slot='site-nav'>
        <NavBar />
    </svelte:fragment>
    <svelte:fragment slot='main'>
        <Loader prom={rootProm}>
            <RouterRender />
        </Loader>
    </svelte:fragment>
</App>

