@property --omniblack-success-fg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 0%, 0%);
}

@property --omniblack-success-bg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(108, 96%, 42%);
}

@property --omniblack-warning-fg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 0%, 0%);
}

@property --omniblack-warning-bg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(54, 98%, 49%);
}

@property --omniblack-danger-fg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 0%, 0%);
}

@property --omniblack-danger-bg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(360, 80%, 56%);
}

@property --omniblack-link-fg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(250, 80%, 70%);
}

@property --omniblack-link-visited-fg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(250, 70%, 60%);
}

@property --omniblack-background-fg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 0%, 0%);
}

@property --omniblack-background-bg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 0%, 6%);
}

@property --omniblack-border-color {
    syntax: "<color>";
    inherits: true;
    initial-value: purple;
}

@property --omniblack-text-fg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(255, 100%, 100%);
}

@property --omniblack-text-bg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 0%, 5%);
}

@property --omniblack-focus-ring-color {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(230, 50%, 50%);
}

@property --omniblack-focus-ring-style {
    syntax: "auto | none | dotted | dashed | solid | double | groove | ridge | inset | outset";
    inherits: true;
    initial-value: solid;
}

@property --omniblack-focus-ring-width {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}

@property --omniblack-focus-ring-padding {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}

/* Input colors */
@property --omniblack-input-bg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 0%, 0%);
}

@property --omniblack-input-fg  {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 100%, 100%);
}

@property --omniblack-input-feedback-danger {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 50%, 50%);
}

@property --omniblack-input-feedback-success {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(108, 96%, 42%);
}

@property --omniblack-body-background-color {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 0%, 10%);
}

@property --omniblack-loader-fg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0, 0%, 30%);
}

@property --omniblack-branding-fg {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(265, 60%, 50%);
}

@property --omniblack-border-color {
    syntax: "<color>";
    inherits: true;
    /* omniblack-branding-fg */
    initial-value: hsl(265, 60%, 50%);
}

@property --omniblack-border-width {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}

@property --omniblack-attention-border-width {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}

@property --omniblack-border-style {
    syntax: "none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset";
    inherits: true;
    initial-value: groove;
}

@property --omniblack-attention-border-style {
    syntax: "none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset";
    inherits: true;
    initial-value: double;
}

html {
    --omniblack-focus-ring-width: 0.3em;
    --omniblack-focus-ring-padding: 0.1em;

    --omniblack-border-width: 0.2em;
    --omniblack-attention-border-width: 0.6em;

    /* 0.6em (the max border width) - 0.2em */
    --omniblack-border-margin: 0.4em;

    /* 0.6em (the max-border-width) - 0.6em */
    --omniblack-attention-border-margin: 0em;

    --omniblack-focus-ring:
        var(--omniblack-focus-ring-color)
        var(--omniblack-focus-ring-style)
        var(--omniblack-focus-ring-width);

    --omniblack-border: 0.2em groove var(--omniblack-border-color);
    --omniblack-attention-border: 0.6em double var(--omniblack-border-color);
}
