<script>
    import { range, map } from 'itertools';

    import Autocomplete from '#src/components/Autocomplete.svelte';
    import Calendar from '#src/components/Calendar.svelte';
    import Date from '#src/components/Date.svelte';
    import Time from '#src/components/Time.svelte';
    import Icon from '#src/components/Icon.svelte';
    import Button from '#src/components/Button.svelte';
    import TestColors from '#src/test-components/test_colors.svelte';
    import { localize } from '@omniblack/localization/svelte';
    import { SyncableStore } from '@omniblack/stores';
    import { getDateSuggestions } from '#src/utils/date/getDateSuggestions.js';

    globalThis.getDateSuggestions = getDateSuggestions;

    const value = new SyncableStore('', 'upperValue');
    const dateStore = new SyncableStore('', 'upperDate');
    const timeStore = new SyncableStore('', 'upperTime');

    let tip;
    let input;

    const items = map(range(200), (item) => {
        return {
            display: `Test ${item}`,
            internal: item,
        };
    });

    function getItems(text) {
        if (!text) {
            return {
                suggestions: items,
            };
        }

        const filteredItems = items.filter(({ display }) =>
            display.includes(text),
        );

        return {
            suggestions: filteredItems,
        };
    }
</script>

<style>
    .tooltip-wrapper {
        border-color: green;
        border-style: inset;
        background: black;
        border-width: 0.2em;
        padding: 0.5em;
        width: max-content;
    }
</style>

<Date
    value={dateStore}
/>

{$dateStore}

<Time
    value={timeStore}
/>

{$timeStore?.toString()}

<Autocomplete
    {value}
    getSuggestions={getItems}
    color='danger'
    bind:element={input}
>
    <svelte:fragment slot='prefix' let:color>
        <Icon
            icon='menu'
            {color}
            label='autocomplete'
        />
    </svelte:fragment>
    <svelte:fragment slot='suffix' let:color>
        <Icon
            icon='done'
            {color}
            label='success'
        />
    </svelte:fragment>
</Autocomplete>

<TestColors />

<pre>{$localize($value?.display ?? '')}</pre>
<Button tooltip={{tip}}>
    Hi!
</Button>

<div
    class='tooltip-wrapper'
    bind:this={tip}
>
    I love you!
</div>
The app is working.



<Calendar/>
