<script>
    import {Input} from '#src/components/input.js';
    Input.register();

    let form;
</script>
<div>
    <form
        bind:this={form}
        on:submit|preventDefault={() => console.log(new FormData(form))}
    >
        <omniblack-input
            name='input'
            required='true'
            last-changed-name='input-last-changed'
        >
            <div slot='suffix'>
                Hi!
            </div>
        </omniblack-input>
    </form>
</div>
